<div class="w-dvw max-md:overflow-hidden bg-inherit  text-inherit">
    <div class="text-center">
       <p class="min-md:text-3xl text-2xl">EMPLOYEE MANAGEMENT</p>
    </div>
   <div class="min-md:flex min-md:justify-between  bg-inherit flex-nowrap  text-inherit max-md:flex-col items-center w-full  my-7 min-md:px-20" >
         <div> <input type="text" [(ngModel)]="searchQuery" class="border border-gray-500 w-full min-md:w-96 text-gray-700 rounded-sm outline-none p-1" (change)="loadEmployees()" placeholder="search"></div>

         <div class="flex bg-inherit text-inherit">
           <label for="sort">sortBy:</label>
          <select name="" id="sort" name="sort" [(ngModel)]="sortBy" (change)="loadEmployees()" class="border border-gray-500 w-full  bg-inherit  text-inherit  rounded-sm p-1 outline-none">
           <option value="department" class="!bg-inherit">Department</option>
           <option value="email" class="bg-inherit">Email</option>
           <option value="salary" class="bg-inherit">Salary</option>
           <option value="name" class="bg-inherit" selected>Name</option>

         </select></div>
           <div>
            <label class="inline-flex items-center cursor-pointer" (change)="loadEmployees()">
              <span>A->Z</span>
              <input type="checkbox" value="" name="order" [(ngModel)]="order" class="sr-only peer"  />
              <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600 dark:peer-checked:bg-gray-400"
              ></div>
              <span>Z->A</span>
            </label>
           </div>
         <div class="flex bg-inherit">
          <label for="limit" >Limit</label>
          <select name="limit" id="limit" name="limit" class="max-md:w-1/3 w-full border bg-inherit border-gray-400" [(ngModel)]="limit" (change)="loadEmployees()">
             <option value="5">5</option>
             <option value="10">10</option>
             <option value="20">20</option>
          </select>
         </div>
         <div class="ms-auto ">
           <button class="bg-blue-500 rounded-4xl max-md:w-1/2  max-md:my-2 p-2 "  (click)="toggleFormModal()">ADD</button>
        </div>

   </div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
   <table class="w-full text-sm text-left rtl:text-right border border-gray-400">
       <thead class="text-xs text-gray-700 uppercase ">
           <tr class="">
               <th scope="col" class="px-6 py-3">
                   Sr.No
               </th>
               <th scope="col" class="px-6 py-3">
                   FULL NAME
               </th>
               <th scope="col" class="px-6 py-3">
                   EMAIL
               </th>
               <th scope="col" class="px-6 py-3">
                   DOB
               </th>
               <th scope="col" class="px-6 py-3">
                   DEPARTMENT
               </th>
               <th scope="col" class="px-6 py-3">
                   POSITION
               </th>
               <th scope="col" class="px-6 py-3">
                   Salary
               </th>
               <th scope="col" class="px-6 py-3">
                   Action
               </th>
           </tr>
       </thead>
       <tbody>
           <tr  *ngFor="let item of employees;let i=index" class=" border border-gray-200">
               <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap">
                  {{i+1}}
               </th>
               <td class="px-6 py-4">
                   {{item.name}}
               </td>
               <td class="px-6 py-4">
                {{item.email}}
               </td>
               <td class="px-6 py-4">
                {{item.dob}}
               </td>
               <td class="px-6 py-4">
                {{item.department}}
               </td>
               <td class="px-6 py-4">
                {{item.position}}
               </td>
               <td class="px-6 py-4">
                {{item.salary |currency:'INR'}}
               </td>
               <td class="px-6 py-4 flex gap-3 list-none">
                   <li  class="font-medium text-blue-600 cursor-pointer dark:text-blue-500 hover:underline" (click)="updateFormToggle(i)" >Edit</li>
                   <li  class="font-medium text-red-600 cursor-pointer hover:underline" (click)="deleteEmployee(item?._id)">Delete</li>

               </td>
           </tr>
            <tr *ngIf="employees?.length==0" class="w-full"><td>No Data Found</td></tr>
       </tbody>
   </table>
   <div class="flex justify-center ">
     <app-pagination [totalPages]="totalPages()" [page]="page" (sendPage)="changePage($event)"  ></app-pagination>
   </div>
</div>

<div id="crud-modal" *ngIf="toggleEmployeeForm"  class="overflow-y-hidden overflow-x-hidden absolute top-5 left-4/12 z-50 max-md:left-1 bg-inherit   justify-center items-center w-fit max-md:w-full  max-h-full">
   <div class="relative p-4 w-full max-w-md max-h-full">
       <!-- Modal content -->
       <div class="relative bg-white rounded-lg shadow-md shadow-gray-400">
           <!-- Modal header -->
           <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
               <h3 class="text-lg font-semibold text-gray-900">
                     {{id?"Update Employee":"Add Employee"}}
               </h3>
               <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark" (click)="toggleFormModal()">
                   <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                   </svg>
                   <span class="sr-only">Close modal</span>
               </button>
           </div>
           <!-- Modal body -->
           <form class="p-4 md:p-5" [formGroup]="addForm">
               <div class="grid gap-3 mb-3 grid-cols-2">
                   <div class="col-span-2">
                       <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
                       <input type="text" [ngClass]="{'border-red-500':checkInvalidFields('name')}" formControlName="name" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block outline-none w-full p-2.5" placeholder="Enter Your Name" required="">

                   </div>
                   <div class="col-span-2">
                       <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                       <input type="email" [ngClass]="{'border-red-500':checkInvalidFields('email')}" formControlName="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 outline-none block w-full p-2.5" placeholder="Enter Your Email" required="">
                   </div>
                   <div class="col-span-2">
                       <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                       <input type="text" [ngClass]="{'border-red-500':checkInvalidFields('password')}" name="password" formControlName="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 outline-none block w-full p-2.5" placeholder="Enter Your Password" required="">
                   </div>
                   <div class="col-span-2">
                       <label for="position" class="block mb-2 text-sm font-medium text-gray-900 ">Position</label>
                       <input type="text" [ngClass]="{'border-red-500':checkInvalidFields('position')}" name="position" formControlName="position" id="position" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 outline-none block w-full p-2.5" placeholder="Enter Your position" required="">
                   </div>
                   <div class="col-span-2 sm:col-span-1">
                       <label for="salary" class="block mb-2 text-sm font-medium text-gray-900 ">Salary</label>
                       <input type="number" [ngClass]="{'border-red-500':checkInvalidFields('salary')}" formControlName="salary" name="salary" id="salary" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 outline-none block w-full p-2.5" placeholder="₹2999" required="">
                   </div>
                   <div class="col-span-2 sm:col-span-1">
                       <label for="date" class="block mb-2 text-sm font-medium text-gray-900 ">DOB</label>
                       <input type="DATE" name="date" [ngClass]="{'border-red-500':checkInvalidFields('dob')}" formControlName="dob" id="date" [max]="today|date:'dd/mm/yyyy'"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"  required="">
                   </div>
                   <div class="col-span-2 ">
                       <label for="department" class="block mb-2 text-sm font-medium text-gray-900 ">Department</label>
                       <select id="department" [ngClass]="{'border-red-500':checkInvalidFields('department')}" formControlName="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 " >
                           <option selected value="" >Select Department</option>
                           <option value="{{item}}" *ngFor="let item of departments">{{item}}</option>
                       </select>
                   </div>

               </div>
               <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" (click)="!id?addEmployee():updateEmployee()">
                   <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                   {{id?"Update":'Add'}} Employee
               </button>
           </form>
       </div>
   </div>
   </div>
</div>




<!-- Modal -->


